.carrossel__titulo {
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 0.5em 0;
}

.card {
    background: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.card__descrição {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    align-items: bottom;
}

.descrição__imagem {
    margin-bottom: 2em;
}

.card__botões {
    display: flex;
    justify-content: space-between;
    height: 2.8em;
}
 
.botões {
    display: flex;
}


.descrição__titulo {
    color: var(--laranja);
    font-weight: 700;
    line-height: 1.3em;
}

.descrição__titulo-livro {
    color: var(--azul);
    font-size: 18px;
    font-weight: 700;
    margin: .5em 1em 1em 0;
    line-height: 1.3em;
}

.descrição__texto {
    font-size: 14px;
    margin: .5em 1.9em 1em 0;
    text-align: left;
    line-height: 1.3em;
}

.botões__item {
    margin: 0 0 .5em;
}

.botões__ancora {
    font-weight: 700;
    text-decoration: none;
    background-color: var(--laranja);
    color: var(--branco);
    padding: 1em 2.25em
}

.carrossel__titulo-2 {
    background-color: var(--branco);
    color: var(--laranja);
    font-size: 18px;
    font-weight: 700;
    padding: 1em;
    text-align: center;
    text-transform: uppercase;
}

.swiper-slide-2 img {
    width: 100%;
}

.card-2 {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: var(--branco);
    margin: 1em;
    padding: 1em;
}

.card-2__descrição {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    align-items: bottom;
}

.estrela {
    margin: .5em 0;
    width: 9%;
}

.descrição__titulo-2 {
    color: var(--laranja);
    font-weight: 700;
    font-size: 16px;
}

.descrição__autora {
    color: var(--azul);
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    margin-right: .3em;
}

.descrição__texto-2 {
    font-size: 14px;
    font-weight: 400;
    margin: 0 2em 0 0;
    line-height: 25px;
}

.card__botões-2 {
    display: flex;
    justify-content: space-between;
    height: 2.8em;
    margin: 1.3em 0 1em 0;
}

.botões-2 {
    display: flex;
}

.botões__ancora-2 {
    background-color: var(--laranja);
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: var(--branco);
    padding: 1em 2.2em;
}

@media screen and (min-width: 1024px) {
    .carrossel__titulo {
        font-size: 26px;
        padding: 2em;
    }

    .swiper-pagination {
        padding: 2em ;
    }

    .swiper-slide img {
        width: 60%;
        margin: 2em 2em 2em 4em;
        justify-content: space-around;
    }

    .swiper-button-prev, .swiper-button-next {
        display: block;
    }
    
    .card, .card-2 {
        width: 40%;
        margin: 3em auto
    }
}

@media screen and (min-width: 1728px) {
    .carrossel__container {
        display: flex;
        align-items: center;  
        margin: 0 10vw 3em 10vw;
    }

    .swiper-pagination {
        margin: 1em 0;
    }

    .swiper {
        width: 50%;
    }

    .descrição__titulo {
        font-size: 32px;
    }

    .card {
        width: 30%;
        margin-top: 8em;
    }

  

}